:root {
  --main-branding-colour: #0e2e3b;
  --main-border-colour: rgba(98, 110, 115, 0.1);
  --main-links-colour: #166678;
}

body {
  background-color: #e7eff1;
  font-family: "DM Sans", sans-serif;
  font-weight: normal;
}

.content {
  background-color: #d9eaee;
  border-radius: 7px;
  margin: 100px auto;
  max-width: 1020px;
  padding: 20px;
  text-align: center;
}

.container,
.work-container {
  margin-bottom: 35px;
}

.navbar-brand {
  color: var(--main-branding-colour);
  font-weight: 600;
}
.nav-link {
  color: var(--main-links-colour);
}

h1 {
  border-bottom: 0.5px solid var(--main-border-colour);
  color: var(--main-branding-colour);
  font-weight: 400;
  font-size: 69px;
  padding-bottom: 10px;
}

h2 {
  color: var(--main-branding-colour);
  font-size: 18px;
  opacity: 0.7;
}

p,
h3 {
  color: var(--main-branding-colour);
}

h6 {
  border-top: 0.6px solid var(--main-border-colour);
  color: var(--main-branding-colour);
  font-size: 13px;
  opacity: 0.7;
  padding-top: 17px;
}

a {
  color: var(--main-links-colour);
  text-decoration: none;
}

a:hover {
  cursor: pointer;
  color: var(--main-branding-colour);
}

img {
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
  max-width: 100%;
  border-radius: 7px;
}

.greetings {
  font-size: 25px;
}
.work-heading {
  font-size: 60px;
}

.app-name {
  font-size: 25px;
  font-weight: 600;
  text-align: start;
}

.app-info,
.about-info {
  text-align: start;
  font-size: 17px;
}

.btn-app,
.btn-resume {
  background-color: #9cc6c5;
  border: 0.5px solid var(--main-branding-colour);
  color: var(--main-branding-colour);
}

.btn:hover {
  border: 0.5px solid var(--main-branding-colour);
  color: var(--main-branding-colour);
  transition: all 150ms ease-in-out;
}

.contact-links a {
  color: var(--main-links-colour);
  font-weight: 600;
}

.contact-links a:hover {
  color: var(--main-branding-colour);
}

footer {
  border-top: 0.1px solid var(--main-border-colour);
  display: flex;
  font-size: 25px;
  justify-content: space-around;
  opacity: 0.7;
  padding: 15px;
}

.contact-page-footer {
  display: inline;
  font-size: 16px;
  text-align: center;
}

.contact-page-footer a {
  color: brown;
  font-weight: 600;
}

.contact-page-footer a:hover {
  color: var(--main-links-colour);
}

@media (max-width: 767px) {
  h1,
  .work-heading {
    font-size: 43px;
  }
  .greetings {
    font-size: 18px;
  }
  .app-name,
  .app-info,
  .about-info {
    text-align: center;
  }
  .about-info {
    margin-top: 0px;
  }
  .app-info {
    margin-bottom: 17px;
  }
  .btn-app {
    display: block;
    margin: 0 auto;
  }

  .btn-resume {
    margin-bottom: 30px;
  }
  .headshot {
    max-width: 65%;
  }
  .work-container .btn-app {
    margin-bottom: 22px;
  }

  .contact-page-footer {
    font-size: 12px;
  }
}
